<br><br>
<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="card text-dark bg-light mb-3 " *ngFor="let table of tables">
    <div class="card-body mx-auto">
      <h5 class="card-title text-center">{{table.tableId}}. asztal</h5>
      <p [ngClass]="{'circle2': table.status==='Szabad', 'circle' : table.status=='Foglalt' }"></p>
      <p class="text-center"> Kapacitás: {{ table.capacity }}</p>
      <button type="button" class="btn btn-light btn-outline-dark btn-space" *ngIf="table.status == 'Szabad'" (click)="routeToTableReservations(table.tableId)">Foglalás</button>
      <button type="button" class="btn btn-light btn-outline-dark btn-space" *ngIf="table.status == 'Foglalt'" (click)="routeToAddNewOrder(table.tableId)">Új rendelés</button>
      <button type="button" class="btn btn-light btn-outline-dark btn-space" (click)="routeToReservationHistory(table.tableId)"> Előzmények </button>
    </div>
  </div>
</div>
