<br><br>
<div class="card-group  offset-md-1 col-md-10">
  <div class="card" *ngFor="let table of tables">
    <div class="card-body" [ngStyle]="{'background-color': table.status=='Szabad'? 'green' : 'red'}">
      <h5 class="card-title">{{table.tableId}}. asztal</h5>
      <p> Kapacitás: {{ table.capacity }}</p>
      <p> {{ table.status }}</p>
      <button *ngIf="table.status == 'Szabad'" (click)="routeToTableReservations(table.tableId)">Foglalás</button>
      <button *ngIf="table.status == 'Foglalt'" (click)="routeToAddNewOrder(table.tableId)">Új rendelés</button>
    </div>
  </div>
</div>
