<div class="container mt-5">
  <div class="card border-0" style="padding: 20px;">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <input type="text" ngModel name="userName" id="userName" placeholder="Felhasználónév"
             class="form-control mb-3" style="width: 300px;">
      <input type="password" ngModel name="userPassword" id="userPassword" placeholder="Jelszó"
             class="form-control mb-3" style="width: 300px;">
      <input type="submit" value="Bejelentkezés" class="btn btn-light btn-outline-dark form-control"
             style="width: 300px;">
    </form>
    <br>
    <div class="alert-danger center" style="" *ngIf="!isAuthSuccessful">A felhasználónév vagy a jelszó helytelen.</div>
  </div>
</div>
