.btn-space {
  margin-right: 10px;
}

form {
  margin: 0 auto;
  width:250px;
}

mat-form-field {
  width: 100%;
}
label {
  display: block;
  text-align: center;
}

mat-form-field {
  font-size: 10px;
}

.center {
  margin: 0;
  position: absolute;
  left: 47%;
}

.center2 {
  margin: 0;
  position: absolute;
  transform: translate(145%, 20%);
}

.center3 {
  margin: 0;
  position: absolute;
  transform: translate(30%, -10%);
}

.center4 {
  margin: 0;
  position: absolute;
  transform: translate(56%, 125%);
}

.center5 {
  margin: 0;
  position: absolute;
  transform: translate(15%, 500%);
}

.center7 {
  margin: 0;
  position: absolute;
  transform: translate(20%, 220%);
}
