<div *ngIf="guestView">
  <div class="container mt-2">
    <div class="card border-0" style="padding: 20px;">
      <form>
        <h2 class="text-center">Szállítási adatok</h2>
        <label for="customerName"></label><input type="text" class="form-control" id="customerName" placeholder="Vásárló neve"
                                                 [(ngModel)]="reservation.guest.customerName" name="customerName"> <br>
        <label for="city"></label><input type="text" class="form-control" id="city" placeholder="Város"
                                         [(ngModel)]="reservation.guest.city" name="city"><br>
        <label for="zipCode"></label><input type="text" class="form-control" id="zipCode" placeholder="Irányítószám"
                                            [(ngModel)]="reservation.guest.zipCode" name="zipCode" required="required"> <br>
        <label for="street"></label><input type="text" class="form-control" id="street" placeholder="Utca, házszám"
                                           [(ngModel)]="reservation.guest.street" name="street" required="required"> <br>
        <label for="phoneNumber"></label><input type="text" class="form-control" id="phoneNumber" placeholder="Telefonszám"
                                                [(ngModel)]="reservation.guest.phoneNumber" name="phoneNumber"
                                                required="required"> <br>
        <div class="center3">
          <button class="btn btn-light btn-outline-dark btn-space" (click)="onSubmit()" type="submit">
            Rendelés leadása
          </button>
        </div>
        <div class="center4">
          <button class="btn btn-light btn-outline-dark btn-space" (click)="pageSwap()" type="submit">
            Visszalépés
          </button>
        </div>
        <p class="alert-danger center5" style="" *ngIf="error != ''"> {{error}}</p>
      </form>
    </div>
  </div>
</div>

<div *ngIf="!guestView">
  <div class="container mt-2">
    <div class="card border-0" style="padding: 20px;">
      <form>
        <label>Asztal azonosító</label>
        <mat-form-field appearance="outline" *ngIf="!tableChosen" class="text-center">
          <mat-select [(ngModel)]="selectedTable" name="role">
            <mat-option *ngFor="let table of tables" [value]="table.tableId">
              {{table.tableId}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <h2 class="text-center" *ngIf="tableChosen"> {{ selectedTable }}</h2>
        <br>
        <label>Foglalás kezdete</label>
        <div class="center2">
          <button class="btn btn-light btn-outline-dark" (click)="reservation.reservationStart = currentTime()"> Most
          </button>
        </div>
         <br><br><br>
        <div [hidden]="buttonClicked">
          <label for="date"></label><input type="datetime-local" class="form-control text-center" id="date"
                                           placeholder="Dátum"
                                           [(ngModel)]="reservation.reservationStart" name="date">
        </div>
        <div [hidden]="!buttonClicked" class="text-center">
          <h3> {{ formattedDate }}</h3>
        </div>
        <br>
        <label for="amountOfGuests"></label><input type="text" class="form-control" id="amountOfGuests"
                                                   placeholder="Vendégek száma"
                                                   [(ngModel)]="reservation.amountOfGuests" name="amountOfGuests">
        <br>
        <div class="center">
          <button (click)="pageSwap()" class="btn btn-light btn-outline-dark btn-space" type="submit">
            Tovább
          </button>
        </div>

        <br>
        <div class="alert-danger center7" style="" *ngIf="error != ''"> {{error}}</div>
      </form>
      <br>
    </div>
  </div>
</div>

