<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Restaurant</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/table"
             *ngIf="userService.roleMatch(['Admin']) || userService.roleMatch(['User'])"
          >Asztalok nyilvántartása</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/reservation"
             *ngIf="userService.roleMatch(['Admin']) || userService.roleMatch(['User'])"
          >Foglalások kezelése</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/order"
             *ngIf="userService.roleMatch(['Admin']) || userService.roleMatch(['User'])"
          >Rendelések felvitele</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/employee"
             *ngIf="userService.roleMatch(['Admin'])"
          >Alkalmazottak megtekintése</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/income"
             *ngIf="userService.roleMatch(['Admin'])"
          >Havi bevétel</a>
        </li>

      </ul>
      <button *ngIf="! isLoggedIn()" type="button" class="btn btn-success" routerLink="/login">Login</button>
      <button *ngIf="isLoggedIn()" type="button" class="btn btn-danger" (click)="logout()" >Logout</button>
    </div>
  </div>
</nav>
