<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div *ngIf="!orderView">
  <br><br>
  <button id="button1" type="button" class="btn btn-outline-primary" routerLink="/delivery"> Házhozszállítás </button>
  <button id="button2" type="button" class="btn btn-outline-primary" (click)="pageSwap()"> Lezárt rendelések megtekintése</button>
  <br><br>
  <br><br>
  <table class="table table-striped">
    <thead>
    <tr>
      <th> Azonosító </th>
      <th> Fizetés módja </th>
      <th> Végösszeg </th>
      <th> Rendelés módja </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders" >
      <td> {{ order.orderId }}</td>
      <td> {{ order.paymentMethod }} </td>
      <td> {{ order.grandTotal }} </td>
      <td *ngIf="order.orderType === allOrderTypes.Inplace"> {{order.orderType}} ({{ order.tableId }}. asztal) </td>
      <td *ngIf="order.orderType === allOrderTypes.Delivery"> {{ order.orderType }} </td>
      <td>
        <button type="button" class="btn btn-outline-success" (click)="openModal(template)" style="margin-left: 10px">Close</button>
        <button type="button" class="btn btn-outline-info" [disabled]="order.grandTotal == 1590" (click)="openModal(address)" style="margin-left: 10px">Info</button>

        <br><br>
        <ng-template #template>
          <div class="modal-body text-center">
            <p>Kérjük a lezárás előtt értékelje a rendelést!</p>
            <div class="cont">
              <div class="stars">
                <ngx-star-rating [(ngModel)]="rating" [id]="'rating'" ></ngx-star-rating >
              </div>
            </div>
            <button type="button" class="btn btn-default" (click)="finishOrder(order.orderId, rating, order.grandTotal)" >Lezárás</button>
            <button type="button" class="btn btn-primary" (click)="decline()" >Mégsem</button>
          </div>
        </ng-template>
        <ng-template #address>
          <div class="modal-body text-center">
            <p>A vásárló adatai:</p>
            <p> Név: {{ order.address.customerName}}</p>
            <p> Cím: {{ order.address.city}}, {{ order.address.zipCode}}, {{ order.address.street }}</p>
            <p> Telefonszám: {{ order.address.phoneNumber }}</p>
          </div>
        </ng-template>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="orderView">
  <br><br>
  <button id="button4" type="button" class="btn btn-outline-primary" routerLink="/delivery"> Házhozszállítás </button>
  <button id="button3" type="button" class="btn btn-outline-primary" (click)="pageSwap()"> Folyamatban lévő rendelések megtekintése</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th> Azonosító </th>
      <th> Fizetés módja </th>
      <th> Végösszeg </th>
      <th> Rendelés módja </th>
      <th> Értékelés </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of closedOrders" >
      <td> {{ order.orderId }}</td>
      <td> {{ order.paymentMethod }} </td>
      <td> {{ order.grandTotal }} </td>
      <td> {{ order.orderType }}</td>
      <td> {{ order.rating }}/5</td>
    </tr>
    </tbody>
  </table>
</div>
