<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div *ngIf="!orderView">
  <br><br>
  <button id="button1" type="button" class="btn btn-light btn-outline-dark button1" routerLink="/delivery"> Házhozszállítás </button>
  <button id="button2" type="button" class="btn btn-light btn-outline-dark button2" (click)="pageSwap()"> Lezárt rendelések megtekintése</button>
  <br><br>
  <br><br>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="text-center"> Azonosító </th>
      <th class="text-center"> Fizetés módja </th>
      <th class="text-center"> Végösszeg </th>
      <th class="text-center"> Rendelés módja </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders" >
      <td class="text-center"> {{ order.orderId }}</td>
      <td class="text-center"> {{ order.paymentMethod }} </td>
      <td class="text-center"> {{ order.grandTotal }} </td>
      <td class="text-center" *ngIf="order.orderType === allOrderTypes.Inplace"> {{order.orderType}} ({{ order.tableId }}. asztal) </td>
      <td class="text-center" *ngIf="order.orderType === allOrderTypes.Delivery"> {{ order.orderType }} </td>
      <td>
        <button type="button" class="btn btn-light btn-outline-dark btn-sm" (click)="openModal(template)" style="margin-left: 10px">Lezárás</button>
        <button type="button" class="btn btn-light btn-outline-dark btn-sm" [disabled]="order.grandTotal == 1590" (click)="openModal(address)" style="margin-left: 10px">Info</button>
        <ng-template #template>
          <div class="modal-body text-center">
            <p>Kérjük a lezárás előtt értékelje a rendelést!</p>
            <div class="cont">
              <div class="stars">
                <ngx-star-rating [(ngModel)]="rating" [id]="'rating'" ></ngx-star-rating >
              </div>
            </div>
            <button type="button" class="btn btn-light btn-outline-dark btn-sm btn-space" (click)="finishOrder(order.orderId, rating, order.grandTotal)" >Lezárás</button>
            <button type="button" class="btn btn-light btn-outline-dark btn-sm btn-space" (click)="decline()" >Mégsem</button>
          </div>
        </ng-template>
        <ng-template #address>
          <div class="modal-body text-center">
            <p>A vásárló adatai:</p>
            <p> Név: {{ order.address.customerName}}</p>
            <p> Cím: {{ order.address.city}}, {{ order.address.zipCode}}, {{ order.address.street }}</p>
            <p> Telefonszám: {{ order.address.phoneNumber }}</p>
          </div>
        </ng-template>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="orderView">
  <br><br>
  <button id="button3" type="button" class="btn btn-light btn-outline-dark button1" routerLink="/delivery"> Házhozszállítás </button>
  <button id="button4" type="button" class="btn btn-light btn-outline-dark button2" (click)="pageSwap()"> Futó rendelések megtekintése</button>
  <br><br>
  <br><br>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="text-center"> Azonosító </th>
      <th class="text-center"> Fizetés módja </th>
      <th class="text-center"> Végösszeg </th>
      <th class="text-center"> Rendelés módja </th>
      <th class="text-center"> Értékelés </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of closedOrders" >
      <td class="text-center"> {{ order.orderId }}</td>
      <td class="text-center"> {{ order.paymentMethod }} </td>
      <td class="text-center"> {{ order.grandTotal }} </td>
      <td class="text-center"> {{ order.orderType }}</td>
      <td class="text-center"> {{ order.rating }}/5</td>
    </tr>
    </tbody>
  </table>
</div>
