form {
  margin: 0 auto;
  width:250px;
}

mat-form-field {
  font-size: 10px;
  width: 100%;
}

label {
  display: block;
  text-align: center;
}

.center {
  margin: 0;
  position: absolute;
  transform: translate(15%, 200%);
}

.center2 {
  margin: 0;
  position: absolute;
  transform: translate(60%, 20%);
}
