<div *ngIf="!addressView">
  <div class="col-md-4 offset-md-1" style="height: 30px;">
    <table class="table">
      <thead>
      <tr>
        <th> Étel neve</th>
        <th> Ár</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let food of selectedFoods">
        <td> {{ food.name }}</td>
        <td> {{ food.price }} </td>
        <td>
          <button type="button" class="btn btn-light btn-outline-dark" (click)="deleteFromMenu(food)"
                  style="margin-left: 10px">Törlés
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="container mt-2 center4">
    <div class="card border-0" style="padding: 20px;">
      <form>
        <label>
          Előétel
        </label>
        <mat-form-field appearance="fill">
          <mat-select [(ngModel)]="selectedAppetizer" name="appetizer">
            <mat-option></mat-option>
            <ng-container *ngFor="let food of foods">
              <mat-option *ngIf="food.foodType === allFoodTypes.Appetizer" [value]="food">
                {{ food.name }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <br><br>
        <label>
          Főétel
        </label>
        <mat-form-field appearance="fill">
          <mat-select [(ngModel)]="selectedMainCourse" name="maincourse">
            <mat-option></mat-option>
            <ng-container *ngFor="let food of foods">
              <mat-option *ngIf="food.foodType === allFoodTypes.MainCourse" [value]="food">
                {{ food.name }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <br><br>
        <label>
          Desszert
        </label>
        <mat-form-field appearance="fill">
          <mat-select [(ngModel)]="selectedDessert" name="dessert">
            <mat-option></mat-option>
            <ng-container *ngFor="let food of foods">
              <mat-option *ngIf="food.foodType === allFoodTypes.Dessert" [value]="food">
                {{ food.name }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <br><br>
        <label>
          Ital
        </label>
        <mat-form-field appearance="fill">
          <mat-select [(ngModel)]="selectedDrink" name="drink">
            <mat-option></mat-option>
            <ng-container *ngFor="let food of foods">
              <mat-option *ngIf="food.foodType === allFoodTypes.Drink" [value]="food">
                {{ food.name }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <br><br>
        <button class="btn btn-light btn-outline-dark center5" (click)="addToMenu(selectedAppetizer, selectedMainCourse, selectedDessert, selectedDrink)"> Add</button>
        <p class="center6">Végösszeg: {{ price }} Forint</p>
        <div class="alert-danger center8" style="" *ngIf="error != ''"> {{error}}</div>
        <button class="btn btn-light btn-outline-dark center7" (click)="pageSwap()" type="submit">
          Tovább
        </button>
      </form>
    </div>
  </div>
</div>

<div class="container mt-2" *ngIf="addressView">
  <div class="card border-0" style="padding: 20px;">
    <form class="form2">
      <label for="customerName"></label><input type="text" class="form-control" id="customerName"
                                               [(ngModel)]="order.address.customerName" name="customerName"
                                               placeholder="Vásárló neve"><br>
      <label for="city"></label><input type="text" class="form-control" id="city" [(ngModel)]="order.address.city"
                                       name="city" placeholder="Város"><br>
      <label for="zipCode"></label><input type="text" class="form-control" id="zipCode" placeholder="Irányítószám"
                                          [(ngModel)]="order.address.zipCode" name="zipCode" required="required"><br>
      <label for="street"></label><input type="text" class="form-control" id="street" placeholder="Utca,házszám"
                                         [(ngModel)]="order.address.street" name="street" required="required"><br>
      <label for="phoneNumber"></label><input type="text" class="form-control" id="phoneNumber"
                                              placeholder="Telefonszám"
                                              [(ngModel)]="order.address.phoneNumber" name="phoneNumber"
                                              required="required"><br>
      <label>
        Fizetési mód
      </label>
      <mat-form-field appearance="fill">
        <mat-select [(ngModel)]="selectedPaymentMethod" name="paymentMethod" required>
          <mat-option [value]="allPaymentMethod.Card"> {{ allPaymentMethod.Card }} </mat-option>
          <mat-option [value]="allPaymentMethod.Cash"> {{ allPaymentMethod.Cash }} </mat-option>
        </mat-select>
      </mat-form-field>
      <br><br>
      <button class="btn btn-light btn-outline-dark center2" (click)="onSubmit()" type="submit">
        Rendelés leadása
      </button>
      <button class="btn btn-light btn-outline-dark center" (click)="pageSwap()" type="submit">
        Tétel módosítás
      </button>
      <div class="alert-danger center3" style="" *ngIf="error != ''"> {{error}}</div>
    </form>
  </div>
</div>
